<footer class="footer">
    <p>
        Iconos obtenidos de
        <a
            class="footer__link"
            href="https://fonts.google.com/icons?icon.set=Material+Symbols"
            target="_blank"
            rel="noopener noreferrer"
            title="Ir al sitio web"
            >Material Symbols</a
        >
    </p>
    <p>
        Desarrollado por
        <a
            class="footer__link"
            href="https://www.borjamachin.com"
            target="_blank"
            rel="noopener noreferrer"
            title="Página web de Borja Machín Morera"
            >Borja Machín Morera</a
        >
    </p>
</footer>
