<header class="header header--no-index">
    <h1 class="header__title header__title--fz">Mundo botánico</h1>

    <a id="header__button" href="#" class="header__button" onclick="onPressBtnMenu(event)" title="Menú de navegación">
        <img class="header__icon" src="./assets/icons/menu.svg" alt="Menu" />
    </a>

    <nav class="navigation navigation--no-index">
        <ul class="navigation__list navigation__list--no-index">
            <li class="navigation__item">
                <a href="./index.html" class="navigation__link navigation__link--no-index navigation__link--bg-white">Inicio</a>
            </li>
            <li class="navigation__item">
                <a href="./glosary.html" class="navigation__link navigation__link--no-index navigation__link--bg-white">
                    Glosario
                </a>
            </li>
        </ul>
    </nav>
</header>
