<div class="toc">
    <p class="toc__title">
        Tabla de contenidos (<abbr title="Table of Contents">TOC</abbr>) -
        <a id="toc__toggle" class="toc__toggle" href="#" onclick="onPressBtnToc()">[Esconder]</a>
    </p>
    <nav id="toc__navigation" class="toc__navigation">
        <ol class="toc__list">
            <li class="toc__item">
                <a href="#descripcion" class="link">Descripción</a>
            </li>
            <li class="toc__item">
                <a href="#caracteristicas" class="link">Características</a>
            </li>
            <li class="toc__item">
                <a href="#zona-geografica" class="link">Zona geográfica</a>
            </li>
            <li class="toc__item">
                <a href="#propiedades" class="link">Propiedades</a>
            </li>
            <li class="toc__item">
                <a href="#cultivo" class="link">Cultivo</a>
            </li>
        </ol>
    </nav>
</div>
