@use "sass:color";

$font-family-poppins: "Poppins", sans-serif;
$font-famiy-oleo: "Oleo Script Swash Caps", cursive;

$primary: #96e6a1;
$primary-light: #baecc1;
$secondary: #76a9fa;
$secondary-dark: #3b63db;

$white: #fff;

$black: #000;
$black-dark: #0004;

$gray: #ddd;
$gray-light: #eee;

$dark-primary: #2f3131;
$dark-secondary: #2d2e2e;

$green-rgba: rgba(150, 230, 161, 0.3);
